<% content_for :title do %>About<% end %>
<h3>Membership Sharing Platform</h3>
<p>
This web application was created to allow gym members to share their membership with other users.  We feature a Gym directory so that you can search available offers in your vicinity and find offers for clubs which provide the facilities you are looking for.
</p>
